body {
    background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png");
}

#drum-machine-container {
    width: 640px;
    margin: auto;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 32px;
}

#drum-machine {
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #e3e3e3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-wrap: wrap;
}

#display {
    border: 2px solid;
    height: 36px;
    width: 240px;
    margin: auto;
    text-align: center;
    line-height: 36px;
    border-radius: 5px;
    background-color: #e3ebe3;
    font-size: 28px;
}

#drumpads-container {
    display: grid;
    grid-template-areas:
        "Q W E"
        "A S D"
        "Z X C";
    grid-gap: 10px;
}

#drum-pad-Q {
    grid-area: Q;
}

#drum-pad-W {
    grid-area: W;
}

#drum-pad-E {
    grid-area: E;
}

#drum-pad-A {
    grid-area: A;
}

#drum-pad-S {
    grid-area: S;
}

#drum-pad-D {
    grid-area: D;
}

#drum-pad-Z {
    grid-area: Z;
}

#drum-pad-X {
    grid-area: X;
}

#drum-pad-C {
    grid-area: C;
}

.drum-pad {
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    line-height: 100px;
    text-align: center;
    background-color: white;
}

footer {
    text-align: center;
    font-family: sans-serif;
    margin: 20px;
}

@media (max-width: 660px) {
    #drum-machine-container {
        width: 360px;
    }
    #drum-machine {
        padding: 10px;
    }
    #display, #drumpads-container {
        margin: 10px;
    }
}
