body {
    font-family: sans-serif;
}

#drum-machine-container {
    width: 640px;
    margin: auto;
}

#drum-machine {
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#display {
    border: 1px solid;
    height: 30px;
    width: 240px;
    margin: auto;
    text-align: center;
    line-height: 30px;
}

#drumpads-container {
    border: 1px solid;
    display: grid;
    grid-template-areas:
        "Q W E"
        "A S D"
        "Z X C";
    grid-gap: 10px;
}

#Q {
    grid-area: Q;
}

#W {
    grid-area: W;
}

#E {
    grid-area: E;
}

#A {
    grid-area: A;
}

#S {
    grid-area: S;
}

#D {
    grid-area: D;
}

#Z {
    grid-area: Z;
}

#X {
    grid-area: X;
}

#C {
    grid-area: C;
}

.drumpad {
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    line-height: 100px;
    text-align: center;
}
